body {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Bebas Neue', cursive;
  background-image: url(https://images.unsplash.com/photo-1518609878373-06d740f60d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-image: ; */
}

.tagline{
  font-size: 30px;
  margin-top: 10px;
}

.h1-title{
  font-size: 90px;
  margin-bottom: 15px;
}

h2{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  
}

#artist-search{
  margin-top: 10%;
  display: flex;
  flex-flow:row;
  justify-content:center;
  align-content: center;
} 

img{
 width: 500px;
 background-color: gray;
}

#artist-data{
  background-color: white;
  opacity: 0.7;
}
#Button{
  background: none;
  color: black;
  width: 200px;
  height: 40px;
  padding: 10px;
  border:1px solid black;
  font-size: 18px;
  border-radius: 8px;
  /* transition: .6s;
  transform: translate(-50%, -50);
  overflow: hidden; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

}

#Button:focus{
  outline: none;
}

#Button:hover{
  Background:#EDC79B;
  cursor: pointer;
}


@media only screen and (max-width: 400px){
  /* body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Bebas Neue', cursive;
    background-image: url(https://images.unsplash.com/photo-1518609878373-06d740f60d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
  }
  p{
    text-align: center;
  } */


  body {
    background-image: url(https://images.unsplash.com/photo-1518609878373-06d740f60d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    /* height: 50%; */
  }
  #artist-search{
    flex-flow: column;
    margin-top:25%;
  }

  #search-bar{
    width: 200px;
    margin-bottom: 15px;
  }
}



